DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres # имя базы данных
POSTGRES_USER=postgres # логин для подключения к базе данных
POSTGRES_PASSWORD=postgres # пароль для подключения к БД (установите свой)
DB_HOST=db # название сервиса (контейнера)
DB_PORT=5432 # порт для подключения к БД
SECRET_KEY='django-insecure-ur@h1&^(zv)caxs%42wet-)$liw0-ew#+-$v3ree@7e&t82ozj'
STRIPE_PUBLIC_KEY='pk_test_51M6nO9BUZNBUYwnwhg92SE4baQp6WjLsRixNSG3CDQJriADnMQKXCgaZvTh3XNWuzIIUz0zI0B8NLoZIYkKeLFM700Xx0sHOPI'
STRIPE_SECRET_KEY='sk_test_51M6nO9BUZNBUYwnwEAVjLyUhSEqDh9eBhfpINrjNa93tC42RX6LDI0mZ8aCKKKGkItsEhUo96zF3oIKGLDimfIOU00ei60gBwf'
